<p>Welcome to the admin dashboard, {{team.name}}! All actions are logged via a third-party logging service.
  Please be extra careful when performing maintenance tasks. Your UUID is <code>{{team.id}}</code>.</p>
<p class="mt-3">If you run into a technical issue, please contact tech at <a href="mailto:{{global.techEmail}}">{{global.techEmail}}</a>.</p>
<hr />
<input type="hidden" id="csrfToken" value="{{csrfToken}}" />
<h1 class="title is-4">Quick Actions</h1>
<table class="table is-fullwidth is-hoverable">
  <tbody>
    {{>adminFields/button label="Restock Puzzles" target="/admin/restock" text="Restock" }}
    {{>adminFields/button label="Send Refresh Intent" target="/admin/refresh" text="Send" }}
  </tbody>
</table>

{{#extend "foot-inject"}}
  <script src="/assets/scripts/adminToggles.js" defer></script>
{{/extend}}