<table class="table is-fullwidth is-hoverable">

  <thead>
    <td>Timestamp</td>
    <td>User</td>
    <td>Puzzle</td>
    <td>Action</td>
    <td>Data</td>
  </thead>

  {{#each logs}}

  <tr class="log">
    <td title="{{id}}">{{dateFmt timestamp}}</td>
    <td title="{{uid}}">{{lookup ../users uid}}</td>
    <td>{{#if puzzle}}<a href="/game/puzzle/{{puzzle}}"><span class="tag is-info">View Puzzle</span></a>{{else}}N/A{{/if}}</td>
    <td>{{action}}{{#eq action "solve"}}: {{pn ../value}}{{/eq}}</td>
    <td>{{detail}}</td>
  </tr>

  {{/each}}

</table>

<div class="is-pulled-right">
  <a class="button low-jump" href="/admin/logs/export">Export to CSV</a>
</div>