<div class="field">
  <label class="label">Team Login</label>
  <div class="control">
    <input class="input" type="text" value="{{team.name}}" disabled>
  </div>
  <p class="help">This is the unique identifier of your team. It's your team's login, and it's not public. You cannot
    change it.</p>
</div>
<br />
<input type="hidden" id="csrfToken" value="{{csrfToken}}" />
<label class="label">Team Display Name</label>
<div class="field is-grouped">
  <div class="control is-expanded">
    <input class="input" type="text" data-prop="display_name" value="{{team.display_name}}">
  </div>
</div>
<br />
<label class="label">Division</label>
<div class="field">
  <div class="control is-expanded">
    <input class="input" type="text" value="{{division team.division true}}" disabled>
  </div>
  <p class="help">You cannot change your own division. If you believe this is an error, please contact an organizer!</p>
</div>
<br />
<label class="label">Affiliation (School, Club, etc.)</label>
<div class="field is-grouped">
  <div class="control is-expanded">
    <input class="input" type="text" data-prop="affiliation" value="{{team.affiliation}}">
  </div>
</div>
<br />
<label class="label">Email Addresses of Team Members (One Per Line)</label>
<div class="field is-grouped">
  <div class="control is-expanded">
    <textarea class="textarea" data-prop="emails">{{renderEmails team.emails}}</textarea>
  </div>
</div>
<br />
<div class="field">
  <label class="label">Team Server Identifier</label>
  <div class="control">
    <input class="input" type="text" value="{{team.id}}" disabled>
  </div>
  <p class="help">This string makes zero sense to you, but it's incredibly important for us. Take good care of it,
    would
    you? (Sometimes we may ask you to share this with us)</p>
</div>
{{#extend "foot-inject"}}
  <script src="/assets/scripts/teamFields.js" defer></script>
{{/extend}}