<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home &ndash; {{global.gameName}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/styles/global.css" />
    <!-- Custom CSS Inject -->
    {{#if global.customCSS}}
        <link rel="stylesheet" href="{{global.customCSS}}" />
    {{/if}}
    <link rel="icon" href="/assets/images/infinity.png" type="image/png" sizes="32x32">
    {{{block 'head-inject'}}}
    {{> meta}}
</head>

<body>
    <div class="Site-Content">
        {{>navbar}}
        <section class="hero is-fullheight landing-hero">
            <div class="hero-body">
                <div class="landing-wall" id="landing-wall"></div>
                <div class="container has-text-centered">
                    <div class="landing-titles">
                        <h1 class="title">{{title}}</h1>
                        <h2 class="subtitle mt-1">{{tagline}}</h2>
                    </div>
                    <div class="landing-buttons mt-6">
                        <div class="field is-grouped is-grouped-centered">
                            {{#if team}}
                                <p class="control">
                                    <a class="button is-light is-medium low-jump" href="/game">Puzzles</a>
                                </p>
                                <p class="control">
                                    <a class="button is-light is-medium low-jump" href="/leaderboard">Leaderboard</a>
                                </p>
                            {{else}}
                                {{#unless global.registrationLockdown}}
                                    <p class="control">
                                        <a class="button is-light is-medium low-jump" href="/account/register">Sign Up</a>
                                    </p>
                                {{/unless}}
                                <p class="control">
                                    <a class="button is-light is-medium low-jump" href="/account/login">Log In</a>
                                </p>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {{> footer}}
    {{> chat}}
    {{> sticker}}
    <script src="/assets/scripts/socketio.slim.js" type="text/javascript" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10" defer></script>
    <script src="/assets/scripts/aham.js" type="text/javascript" defer></script>
    <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" type="text/javascript" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js" defer></script>
    <script src="/assets/scripts/global.js" type="text/javascript" defer></script>
    {{{block 'foot-inject'}}}
</body>

</html>