<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{title}} &ndash; ∞</title>
    <link rel="stylesheet" href="/assets/styles/global.css" />

    {{{block 'head-inject'}}}
</head>

<body>
    <div class="Site-Content">
        {{>navbar}}

        <section class="hero is-brand is-{{#if heroSize}}{{heroSize}}{{else}}medium{{/if}}">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">{{title}}</h1>
                </div>
            </div>
        </section>

        <div class="container main">
            {{{body}}}
        </div>
    </div>

    {{> footer}}

    <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" type="text/javascript" defer></script>
    {{{block 'foot-inject'}}}
</body>

</html>