{{#puzzle.fields}}

<div class="formattedText">
  <p>{{Description}}</p>

  <!-- For puzzles linked to an external site -->
  {{#eq Type "Link"}}
  <p>This puzzle is hosted on an external site. <a class="is-uppercase has-text-weight-bold" href="{{../URL}}"
      target="_blank">Please click here to launch the puzzle »</a></p>
  {{/eq}}

  <!-- For puzzles embedded with iframe (not recommended) -->
  {{#eq Type "Embed"}}

  <div class="container iframe-container">
    <iframe src="{{../URL}}"></iframe>
  </div>
  <br />
  <p class="is-pulled-right">Embedded content not showing up? <a class="is-uppercase has-text-weight-bold"
      href="{{../URL}}" target="_blank">Please click here to launch it in another tab »</a></p>
  {{/eq}}

  <!-- For puzzles rendered with Markdown (please do cleanup ahead of time) -->
  {{#eq Type "Text"}}
  {{{markdown../ContentText}}}
  {{/eq}}
</div>

<br />
<hr />

<div class="box submitWrapper">
  <form id="submission" method="POST" action="/game/solve/{{../puzzle.id}}">
    <input type="hidden" name="_csrf" value="{{../csrfToken}}">
    <label class="label">Your Solution &mdash; Solve for {{./Value}} pts!</label>
    <div class="field is-grouped">
      <div class="control is-expanded has-icons-left">
        <input class="input is-allcaps" type="text" placeholder="avada kedavra">
        <span class="icon is-small is-left">
          <i class="fas fa-key"></i>
        </span>
        <p class="help">Solutions are <strong>not</strong> case sensitive.</p>
      </div>
      <p class="control">
        <button class="button" type="submit">
          Solve!
        </button>
      </p>
    </div>
  </form>
</div>


{{/puzzle.fields}}