{{#extend "head-inject"}}
  {{#if ../css}}
    <link rel="stylesheet" href="{{../css}}">
  {{/if}}
{{/extend}}
{{#puzzle}}
  <article class="message {{#if ../solved}}is-success{{/if}} solve" id="solve-article">
    <div class="message-body">
      <div class="message-wrapper submitWrapper has-text-centered" id="solve-wrapper">
        {{#if ../solved}}
          {{#if CustomSuccess}}
            {{{CustomSuccess}}}
          {{else}}
            <p>Congratulations! You've already solved this puzzle, {{../team.name}}. Time to take on the next one?</p>
          {{/if}}
        {{else}}
          <form id="submission">
            <input type="hidden" name="_csrf" id="csrfToken" value="{{../csrfToken}}">
            <label class="label"></label>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input class="input is-large is-allcaps solver" type="text" placeholder="SOLUTION" id="solution">
              </div>
              <p class="control">
                <button class="button is-large low-jump" id="solveButton">
                  SOLVE!
                </button>
              </p>
            </div>
          </form>
        {{/if}}
      </div>
    </div>
  </article>
  <div class="formattedText">
    <p>{{Description}}</p>
    <!-- For puzzles linked to an external site -->
    {{#eq Type "Link"}}
      <p>This puzzle is hosted on an external site. <a class="is-uppercase has-text-weight-bold" href="{{../URL}}" target="_blank">Please click here to launch the puzzle »</a></p>
    {{/eq}}
    <!-- For puzzles embedded with iframe (not recommended) -->
    {{#eq Type "Embed"}}
      <div class="container iframe-container">
        <iframe src="{{../URL}}"></iframe>
      </div>
      <br />
      <p class="is-pulled-right">Embedded content not showing up? <a class="is-uppercase has-text-weight-bold" href="{{../URL}}" target="_blank">Please click here to launch it in another tab »</a></p>
    {{/eq}}
    <!-- For puzzles rendered with Markdown (please do cleanup ahead of time) -->
    {{#eq Type "Text"}}
      {{{markdown ../ContentText}}}
    {{/eq}}
  </div>
{{/puzzle}}
{{#unless solved}}
  {{#if puzzle.Hints}}
    <div id="hints">
      <hr />
      <article class="message hints">
        <div class="message-body">
          <div class="message-wrapper">
            <table class="table is-narrow is-fullwidth hints">
              <tbody>
                {{#each unlockedHints}}
                  <tr id="{{id}}">
                    <td><span class="tag is-success">Unlocked</span></td>
                    <td>{{{inlineMarkdown text}}}</td>
                  </tr>
                {{/each}}
                {{#each puzzle.Hints}}
                  {{#includesId ../unlockedHints this}}
                {{else}}
                  <tr id="{{id}}">
                    <td><span class="tag is-danger">Locked</span></td>
                    <td><a href="/game/puzzle/{{../../id}}/hint/{{../this}}">Get Hint {{bump @index}}</a></td>
                  </tr>
                  {{/includesId}}
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </article>
    </div>
  {{/if}}
{{/unless}}
{{#extend "foot-inject"}}
  {{#unless ../solved}}
    <script>
      // METADATA OF CURRENT PUZZLE
      const PUZZLE_ID = "{{../id}}"
      const TEAM_NAME = "{{../team.name}}"
    </script>
    <script src="/assets/scripts/solve.js" defer></script>
  {{/unless}}
{{/extend}}