{{#extend "head-inject"}}
{{#if ../css}}
  <link rel="stylesheet" href="{{../css}}">
{{/if}}
{{/extend}}

{{#puzzle.fields}}
<article class="message {{#if ../solved}}is-success{{/if}}">
  <div class="message-header">
    {{#if ../solved}}<p>Already Solved!</p>{{else}}Your Solution &mdash; Solve for {{./Value}} pts!{{/if}}
  </div>
  <div class="message-body submitWrapper">
    {{#if ../solved}}
    {{#if CustomSuccess}}
    {{CustomSuccess}}
    {{else}}
    <p>Congratulations! You've already solved this puzzle, {{../team.name}}. Time to take on the next one?</p>
    {{/if}}
    {{else}}
    <form id="submission" method="POST">
      <input type="hidden" name="_csrf" value="{{../csrfToken}}">
      <label class="label"></label>
      <div class="field is-grouped">
        <div class="control is-expanded has-icons-left">
          <input class="input is-allcaps" type="text" placeholder="avada kedavra" name="solution">
          <span class="icon is-small is-left">
            <i class="fas fa-key"></i>
          </span>
          <p class="help">Solutions are <strong>not</strong> case sensitive. All special characters and numbers except spaces will be stripped from your attempt.</p>
        </div>
        <p class="control">
          <button class="button" type="submit">
            Solve!
          </button>
        </p>
      </div>
    </form>

      {{#if Hints}}
      <form method="POST" action="/game/puzzle/{{../id}}/hint" class="has-text-centered">
            <input type="hidden" name="_csrf" value="{{../csrfToken}}">
            <button type="submit" class="button">Get Hint</button>
      </form>
      {{/if}}

    {{/if}}
  </div>
</article>

<hr />

<div class="formattedText">
  <p>{{Description}}</p>

  <!-- For puzzles linked to an external site -->
  {{#eq Type "Link"}}
  <p>This puzzle is hosted on an external site. <a class="is-uppercase has-text-weight-bold" href="{{../URL}}"
      target="_blank">Please click here to launch the puzzle »</a></p>
  {{/eq}}

  <!-- For puzzles embedded with iframe (not recommended) -->
  {{#eq Type "Embed"}}

  <div class="container iframe-container">
    <iframe src="{{../URL}}"></iframe>
  </div>
  <br />
  <p class="is-pulled-right">Embedded content not showing up? <a class="is-uppercase has-text-weight-bold"
      href="{{../URL}}" target="_blank">Please click here to launch it in another tab »</a></p>
  {{/eq}}

  <!-- For puzzles rendered with Markdown (please do cleanup ahead of time) -->
  {{#eq Type "Text"}}
  {{{markdown ../ContentText}}}
  {{/eq}}
</div>

{{/puzzle.fields}}