<tr>
  <td>{{{label}}}</td>
  <td>
    <div class="field is-grouped">
      <div class="control is-expanded"><input type="{{#if type}}{{type}}{{else}}text{{/if}}" class="input"
          value="{{lookup global prop}}" placeholder="{{ph}}" data-prop="{{prop}}" />
      </div>
    </div>
  </td>
</tr>