<div class="columns">
  <div class="column is-one-quarter">
    <aside class="menu">
      <p class="menu-label">
        Divisions
      </p>
      <ul class="menu-list">
        {{#each divisions}}
          <li><a href="/leaderboard/division/{{bump @index}}">{{this}}</a></li>
        {{/each}}
      </ul>
      <p class="menu-label">Updated: {{dateFmt updated}}</p>
      <p class="menu-label">Updating every {{msConv timeout}} min</p>
    </aside>
  </div>
  <div class="column is-three-quarters">
    <div class="columns">
      <div class="column">
        <table class="table is-fullwidth is-hoverable leaderboard">
          <thead style="font-weight: 800">
            <td>Rank</td>
            <td>Team</td>
            <td>Affiliation</td>
            {{#if ranked}}
              <td>Score</td>
              <td>Solved (Division)</td>
            {{/if}}
            <td>Badges</td>
          </thead>
          <tbody>
            {{#each board}}
              <tr>
                <td>{{#if ../ranked}}{{bump @index}}{{else}}-{{/if}}</td>
                <td>{{display_name}}</td>
                <td>{{affiliation}}</td>
                {{#if ../ranked}}
                  <td>{{score}}</td>
                  <td>{{#if finish_time}}{{dateFmt finish_time}}{{/if}}</td>
                {{/if}}
                  <td>
                    {{#numEq score ../totalScore}}
                      <img class="badge" src="/assets/images/allpuzzlesbadge.png" alt="Division Badge" title="This team has solved all available puzzles." />
                    {{/numEq}}
                    {{#if finalized}}
                      <img class="badge" src="/assets/images/meta2badge.png" alt="All Puzzles Badge" title="This team has solved the final puzzle of the game." />
                    {{/if}}
                    {{#if finish_time}}
                      <img class="badge" src="/assets/images/meta1badge.png" alt="Division Badge" title="This team has solved the the final puzzle required for the division." />
                    {{/if}}
                  </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>