<div class="columns">
  <div class="column is-one-quarter">
    <aside class="menu">
      <p class="menu-label">
        Divisions
      </p>
      <ul class="menu-list">
        {{#each divisions}}
          <li><a href="/leaderboard/division/{{bump @index}}">{{this}}</a></li>
        {{/each}}
      </ul>
      <p class="menu-label">Updated: {{dateFmt updated}}</p>
      <p class="menu-label">Updating every {{msConv timeout}} min</p>
    </aside>
  </div>
  <div class="column is-three-quarters">
    <p>This leaderboard is for reference only. Winners will be announced after the competition ends. 
      Please refer to the competition <a href="/page/rules">rules</a> for how the winners are determined. </p>

    <div class="columns">
      <div class="column">
        <h1 class="title">{{name}}</h1>
        <table class="table is-fullwidth is-hoverable">
          <thead>
            <td>Rank</td>
            <td>Team</td>
            <td>Affiliation</td>
            <td>Score</td>
          </thead>
          <tbody>
            {{#each board}}
              <tr>
                <td>{{bump @index}}</td>
                <td>{{display_name}}</td>
                <td>{{affiliation}}</td>
                <td>{{score}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>